/* foratting for general parts*/


body, html {
	font-family: 'Abril Fatface', cursive;
	font-family: 'Ovo', serif;
	background-color: #FFD3D9;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	max-width: 100%;
    overflow-x: hidden;
}
a {
	text-decoration: none;
}

p {
	font-family: 'Abril Fatface', cursive;
	font-family: 'Ovo', serif;
	font-size: 24px;
	line-height: normal;
	opacity: 1;
	text-align: center;
}

ul {
	font-family: Goudy Bookletter 1911;
	font-style: normal;
	font-weight: normal;
	line-height: 140%;
	font-size: 24px;
	text-indent: 5px;
	padding-left: 40px;

}

/* back to top button */

#topbutton {
	position: fixed;
	bottom: 10px;
	left: 35px;
	-webkit-font-smoothing: antialiased;
	color: black;
}

#topbutton:hover {
	transition-duration: .2s;
	color: white;
}
/* container and name of page*/ 
#container{
	position: relative;
	width: 100%;
	height: 4000px;
	left: 100px;
	top: 100px;

	background: #FFFFFF;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

#name {
	position: relative;
	height: 290px;
	left: 124px;
	right: 636px;
	top: 172px;


	font-family: Abril Fatface;
	font-style: normal;
	font-weight: normal;
	line-height: 108px;
	font-size: 100px;
	color: #000000;
}
/* nav bar */
nav {
	position: absolute;
	height: 84px;
	width: 620px;
	left: 60px;
	right: 600px;
	top: 400px;
	outline: black solid 2px;
}

.navlink {
	position: relative;
	display: inline-block;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
}
.icon {
	-webkit-font-smoothing: antialiased;
	color: black;
}
.icon:hover {
	transition-duration: .2s;
	color: #ffa0ad;
	size: 200%;
}

/* menu */
#menu {
	position: absolute;
	height:200px;
	width:320px;
	top: 640px;
	left: 60px;
	padding-top: 4px;
	padding: 8px;
	outline: black solid 2px;
}
#title {
	font-family: Goudy Bookletter 1911;
	width:300px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 36px;
	text-align: center;
}

.label {
	color: black;
}

.label:hover {
	transition-duration: .4s;
	color: #ffa0ad;
	font-weight: bold;
	font-size: 30px;
}

/* profile pic */
#prof {
	position: relative;
	left: 58%;
	
}

/*  general section formatting*/

.sectitle {
	font-family: Goudy Bookletter 1911;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 36px;
	padding-left: 40px;
	padding-top: 40px;
}

.section {
	width: 1340px;
	height: 25%;
}
 /* background image formatting for all sections*/
.image1 {
	position: absolute;
	width: 940px;
	height: 700px;
	left: 480px;
	top: 26%;
	opacity: .4;
}
.image2 {
	position: absolute;
	width: 940px;
	height: 700px;
	left: 480px;
	top: 51%;
	opacity: .4;
}
.image3 {
	position: absolute;
	z-index: 8;
	width: 940px;
	height: 700px;
	left: 480px;
	top: 76%;
	opacity: .2;
}

.image4 {
	position: absolute;
	z-index: 10;
	width: 940px;
	height: 700px;
	left: 480px;
	top: 76%;
	opacity: .2;

}

/* about section */

.about {
	padding-top: 60px;
}

#bio {
	position: relative;
	z-index: 2;
	top: 15%;
	left: 10%;
	height: 40%;
	width: 60%;
	outline: black solid 2px;
	background-color: white;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	opacity: .8;
}


/* experience formatting */
#resumecontainer {
	position: relative;
	z-index: 2;
	outline: black solid 2px;
	top:60px;
	left:12%;
	width: 20%;
	height: 35%;
	background: white;
}

.resume {
	font-family: Goudy Bookletter 1911;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
	font-size: 30px;
	text-align: center;
	padding-right: 40px;
	padding-top: 20px;
}
.resume:hover {
	transition-duration: .4s;
	color: #ffa0ad;
	font-weight: bold;
	font-size: 36px;
	cursor: pointer;
}

#resumepopup {
	position: relative;
	z-index: 9;
	opacity: 1;
	outline: black solid 1px;
	left: 600px;
	bottom: 900px;
	height: 560px;
	width: 640px;
	padding-top: 10px;
	padding-right: 10px;
	display: none;

}


.resheader {
	line-height: normal;
	text-align: left;
	font-size:  28px;
	font-weight: bolder;
	cursor: auto;
	padding: 5px;
}
.resheader:hover {
	transition-duration: .4s;
	color: #ffa0ad;
	font-weight: bold;
	font-size: 32px;
	cursor: pointer;
}

.resinner {
	font-style: italic;
	line-height: 100%;
	text-align: left;
	text-indent: 5px;
	font-weight: lighter;
	font-size: 24px;
}
.resinner2 {
	font-size: 20px;
}

 .w1, .w2, .w3, .w4, .w5 { display: none; }


#education { display: none; }

#activities { display: none; }

#work { display: none; }

#skills { display: none; }

#interests { display: none; }



















